.desmid{
      
        background-image: url(images/sunlight-shining-single-mountain-top-sunset-with-dark-cloudy-sky.jpg);
        background-size: cover;
        opacity: -0.8px;
        filter: contrast(-1000%);
        filter: brightness(-8.0);
        
       
      
}

